body {
  font-family: "Courier New", monospace;
  background-color: #003366;
  color: #FFFFFF;
  text-align: center;
}
h1 {
  background-color: #000080;
  padding: 10px;
  color: #00FFFF;
}
.navbar {
  background-color: #0066CC;
  padding: 10px;
}
.navbar a {
  color: yellow;
  margin: 0 15px;
  text-decoration: none;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
}
th, td {
  border: 1px solid #00CCCC;
  padding: 8px;
  background-color: #000033;
}