<table class="ranking-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Buts</th>
            <th>Passes</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for joueur, stats in classement.items() %}
        <tr>
            <td>{{ joueur.split(',')[0] }}</td>
            <td>{{ joueur.split(',')[1] }}</td>
            <td>{{ stats.buts }}</td>
            <td>{{ stats.passes }}</td>
            <td>{{ stats.buts + stats.passes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
